*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card{
  width: 100%;
  max-width: 760px;
  margin: 10px auto;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 1px 4px;
  height: 80px;
}
.card-index{
  float: left;
  width: 90px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #fff;
  background-color: #00bcd4;
  font-size: 22px;
}
.card-desc{
  float: left;
  height: 80px;
  padding: 10px 0 0 10px;
  color: #777;
}
.card-desc p{
  opacity: 0.7;
}

.btn{
  display: inline-block;
  padding: 6px 12px;
  margin: 10px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
}
