*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
html,body{
  height: 100%;
}
body{
  position: relative;
  background-image: url('http://www.ruanyifeng.com/images_pub/pub_292.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.container{
  position: absolute;
  width: 35%;
  height: 30vh;
  top: 35%;
  left: 45%;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-left: -15%;
  text-align: center;
  transition:all 1s ease;
}
.select{
  margin: 1em 0.8em;
  line-height: 180%;
  background-color: rgba(0,0,0,0.5);
  padding: 0.25rem;
  border-radius: 0.5em;
  text-shadow: 0 1px 1px #333;
  color: #fefefe;
}
.select a{
  color: #fefefe;
}
.select:hover{
  background-color: #fefefe;
  color: #222;
}
.select:hover a{
  color: #222;
}
.select a:hover{
  text-decoration: underline;
}
